.spinner-container {
    margin-top: 20vh;
}

.spinner {
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .spinner {
        height: 150px !important;
        width: 150px !important;
    }
}