.spinner {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    margin-top: 250px;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .spinner {
        margin-top: 125px;
        margin-bottom: 30px;
        width: 15rem;
        height: 15rem;
    }
}