.spinner {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    vertical-align: text-bottom;
    border: .55em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    color: rgb(43, 165, 134);
    animation: spin 1s linear infinite, fadeIn 1.5s;
    margin-top: 250px;
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .spinner {
        margin-top: 125px;
        margin-bottom: 30px;
        width: 10rem;
        height: 10rem;
    }
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); transform:rotate(360deg); 
    } 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}