.new-user-hello {
    font-size: 4.5rem;
    margin-bottom: 45px;
    animation-delay: 0ms;
}

.no-back-up {
    font-size: 2.25rem;
    margin-bottom: 10px;
}

.get-started {
    font-size: 2.25rem;
    margin-bottom: 45px;
    animation-duration: 750ms;
}

.new-user-hello, .get-started, .no-back-up, .backup-button {
    animation-duration: 750ms;
}

.get-started, .no-back-up {
    animation-delay: 150ms;
}

.backup-button {
    animation-delay: 300ms;
}

@media screen and (max-width: 767px) {
    .new-user-hello {
        line-height: 1;
        padding: 0px 15px;
        font-size: 4rem;
    }
    .no-back-up, .get-started {
        font-size: 1.75rem;
        margin-bottom: 30px;
        padding: 0px 15px;
        line-height: 1;
    }
    .hello {
        font-size: 2.75rem;
    }
    .backup-button {
        font-size: 18px;
    }
}