.deleted-container {
    margin-top: 25px;
}

.deleted-container .title {
    font-size: 2.75rem;
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 10px 30px;
    animation-duration: 750ms;
    animation-delay: 150ms;
}

ul {
    padding-left: 0;
}

ul li {
    display: inline-block;
}

.deleted-container {
    text-align: center;
    display: block;
    clear: both;
    padding-bottom: 200px;
}

.cards-container {
    animation-delay: 300ms;
    animation-duration: 750ms;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 20px;
    min-height: 100px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #000000, #14238c);
    border-radius: 0px;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px) {
    .deleted-container {
        margin-top: 0;
    }
    .deleted-container .title {
        font-size: 2rem;
        border-bottom: none;
    }
}