footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 60px;
	width: 100%;
	border-top: 1px solid black;
	overflow: hidden;
}

.media-list {
	position: relative;
	margin: 0;
	line-height: 60px;
	background: white;
	text-align: center;
}

.media-list li {
	margin: 0 40px;
	font-size: 1.25em;
	font-weight: 300;
}

.media-list a {
	text-decoration: none;
	color: black;
}

.media-list a:hover {
	text-decoration: underline;
	color: #6561ed;
}

@media screen and (max-width: 767px) {
	footer {
		position: fixed;
		height: 50px;
	}
	.media-list {
		line-height: 50px;
	}
	.media-list li {
		margin: 0 15px;
		font-size: 1rem;
	}
}