.title-container {
	margin-bottom: 50px;
}

.login.title {
	animation-delay: 0ms;
}

.login.description {
	animation-delay: 150ms;
}

.login-button {
	animation-delay: 300ms;
}

.login.description, .login.title, .login-button {
	animation-duration: 750ms;
}

@media screen and (max-width: 767px) {
	.login-button {
		font-size: 18px;
	}
}